<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css/Login.css">
    <title>Login</title>
</head>

<body>
    <form action="#">
        <div class="head">
            <span class="line"></span>
            <p>Schedule</p>
        </div>
        <div class="sec_head">
            <span class="lines"></span>
            <p>Login</p>
        </div>
        <div class="input_field">
            <input type="text" class="form_input" placeholder=" ">
            <label for="#" class="form_label">Username</label>
        </div>
        <div class="input_field">
            <input type="password" class="form_input" placeholder=" ">
            <label for="#" class="form_label">Password</label>
        </div>

        <button class="btn">Sign in</button>
        <div class="footer">
            <p>ยังไม่มีบัญชีผู้ใช้งาน ? <a href="/register">สร้างบัญชีผู้ใช้</a></p>
        </div>
    </form>
</body>

</html>