<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/css/IT/confirm_regis.css">
    <title>ยืนยันการสมัคร</title>
</head>

<body>
    <%- include('nav') %>

        <div class="container">
            <div class="header">
                <div class="header-name">
                    <i class="fa-solid fa-clipboard-check fa-4x gg"></i>
                    <p>ยืนยันการสมัคร</p>
                </div>

                <div class="total">
                    <p style="font-size: 18px;">รอการยืนยันทั้งหมด</p>
                    <p style="font-size:40px ;">25</p>
                    <p style="font-size: 18px;">คน</p>
                </div><br>
                <div class="boxx">
                    <p style="font-size: 18px;">อะไร</p>
                    <p style="font-size:40px ;">สักอย่าง</p>
                    <p style="font-size: 18px;">อะ</p>

                </div><br>


            </div>
            <div class="section">
                <div class="table-section">
                    <%- include('table_list-confirm') %>
                </div>
            </div>
        </div>

        <script src="https://kit.fontawesome.com/905fad04b7.js" crossorigin="anonymous"></script>
</body>

</html>