<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/css/IT/nav.css">
    <link rel=" stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css ">
    <title>IT</title>
</head>

<body>
    <div class="topnav ">
        <div class="logo ">
            <a href="# ">IT</a>
        </div>
        <nav>
            <div class="containerdrop ">
                <div class="dropdown ">
                    <button class="btn btn-primary dropdown-toggle " type="button " data-toggle="dropdown ">
                  <i class="fa-solid fa-circle-user "></i> Username
                  <span class="caret "></span>
                </button>
                    <ul class="dropdown-menu ">
                        <li><a href="/personal_info ">ข้อมูลส่วนตัว</a></li>
                        <li><a href="/login">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="sidenav">
        <a href="/list_name ">รายชื่อผู้ใช้งาน</a>
        <a href="/confirm_regis">ยืนยันการสมัคร</a>
        <a href="/set_permission">กำหนดสิทธิ์</a>
        <a href="# ">แก้ไขข้อมูลพนักงาน</a>
    </div>
</body>

</html>