<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/css/IT/personal_info.css">
    <title>รายชื่อพนักงาน</title>
</head>

<body>
    <div class="navbar">
        <%- include('nav')%>
    </div>>

    <div class="container">
        <form action="#">
            <div class="head">
                <span class="line"></span>
                <p>ข้อมูลส่วนตัว</p>

            </div>

            <div class="grid-container">
                <div class="input_field">
                    <label for="#" class="form_label">ชื่อ-นามสกุล</label> <br>
                    <input type="text" class="form_input" placeholder=" ">

                </div>
                <div class="input_field">
                    <label for="#" class="form_label">เบอร์โทร</label><br>
                    <input type="text" class="form_input" placeholder=" ">

                </div>
                <div class="input_field">
                    <label for="#" class="form_label">ทีอยู่</label><br>
                    <input type="text" class="form_input" placeholder=" ">

                </div>

                <div class="input_field">
                    <label for="#" class="form_label">email</label><br>
                    <input type="text" class="form_input" placeholder=" ">

                </div>
                <div class="input_field">
                    <label for="#" class="form_label">วัน/เดือน/ปี เกิด</label><br>
                    <input type="date" class="form_input" placeholder=" ">

                </div>
                <div class="input_field">
                    <label for="#" class="form_label">วุฒิการศึกษา</label><br>
                    <input type="text" class="form_input" placeholder=" ">

                </div>
                <div class="input_field">
                    <label for="#" class="form_label">วันเข้าทำงาน</label><br>
                    <input type="text" class="form_input" placeholder=" ">

                </div>
                <div class="input_field">
                    <label for="#" class="form_label">ประวัติการทำงาน</label><br>
                    <input type="text" class="form_input" placeholder=" ">

                </div>
            </div>
            <button class="btns">บันทึก</button>
            <button class="btnc">ยกเลิก</button>


        </form>
    </div>
</body>

</html>