<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/css/IT/personal_edit.css">
    <title>แก้ไขข้อมูลพนักงาน</title>
</head>

<body>
    <%- include('nav') %>

        <div class="container">
            <div class="header">
                <div class="header-name">
                    <i class="fa-solid fa-user-pen fa-4x cll"></i>
                    <p>แก้ไขข้อมูลพนักงาน</p>
                </div>
                <div class="edit-listdata">
                    <a href="/personal_edit" class="edit">แก้ไขข้อมูลพนักงาน</a>
                    <a href="/personal_name-edit" class="delete">แก้ไขรายชื่อพนักงาน</a>
                </div>
                <div class="total">
                    <p style="font-size: 18px;">พนักงานทั้งหมด</p>
                    <p style="font-size:40px ;">75</p>
                    <p style="font-size: 18px;">คน</p>
                </div><br>

            </div>
            <div class="section">
                <div class="table-section">
                    <%- include('table_edit') %>
                </div>
            </div>
        </div>

        <script src="https://kit.fontawesome.com/905fad04b7.js" crossorigin="anonymous"></script>
</body>

</html>